:root {
  --blue: #00acdc;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  height: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

.logo__img img {
  display: block;
  height: 40px;
  width: auto;
}

.nav__list {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav__item + .nav__item {
  margin-left: 20px;
}

.nav__link {
  display: flex;
  align-items: center;
  height: 60px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: #000;
  position: relative;
}

.nav__link.is-active {
  color: var(--blue);
}

.nav__link.is-active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  border-radius: 8px;
  background-color: var(--blue);
}

.nav__link:hover {
  color: var(--blue);
}
